<div th:insert="header :: topo"></div>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

<div class="jumbotron">
    <h1 class="display-4">Olá,!</h1>
    <p class="lead">Este é um prototipo do projeto FREESEA!.</p>
    <hr class="my-4">
    <p>Simples execucao do projeto com locatario, locador e embarcacoes! Salvando em Banco de dados H-2.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">FreeSea</a>
</div>

<div th:insert="footer :: rodape"></div>